.navbar{
	background-color: green;
	text-align: center;
	font-size:30px;
	margin:10px;
}
.todo_item {
	display:flex;
	justify-content:flex-start;
	align-items:center;
	text-align: center;
	padding :30px 20px 0px;
	color:red;
	margin:auto;
	margin-top:20px;
	width:20%;
	box-shadow: 0px 1px 1px rgba(1,0,0,0.15)
}
.footer{
	text-align: center;
	background-color: black;
	font-size: 40px;
	color:white;
	margin-top: 10px;
}
.contact-card{
	margin:30px;
	font-size: 20px;
	color:red;


}

.headers{
	height: 100;
}
.text{
	display: inline-block;
	font-size: 100px;
	margin-top:30;
}
header{
	background-color: purple;
}
.Meme {
  position: relative;
  text-align: center;
  color:white;
  font-size: 30px;
}
.top{
	position: absolute;
	top:10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom{
	position: absolute;
	bottom: 05%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.input1{
	height: 20px;
	text-align: center;
	border:1px solid black;
	margin:5px;
}
.input2{
	height: 20px;
	text-align: center;
	border:1px solid black;
	margin:5px;
}
button{
	background-color: purple;
}